
    <div class="container text-center footer">
        <div class="col">
            <hr>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-5 align-self-center text-center logo-footer">
                <a href="/">
                    <h1 class="logo-line-1">A<span class="theme-color-text">|</span>ign Sco<span class="theme-color-text">|</span>iosis</h1>
                    <h2 class ="logo-line-2" class="theme-color-text">Schroth Based Physical Therapy</h2>
                </a>
            </div>

            <div class="col-md-3 align-self-center contact-info">
                <p>Providing the Schroth Method to the greater NYC, Jersey City, and Hoboken communities</p>

            </div>

            <div class="col-md-4 align-self-center contact-info">
                <p>(123) 456-7890</p>
                <p>foo@bar.com</p>
                <a class="contact-link" href="/contact">Contact Us</a>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>