<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" href="/">
        <img src="https://align-scoliosis.s3.us-east-2.amazonaws.com/images/logo_stacked.png" height="60" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/schroth">The Schroth Method</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/services">Our Services</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/testimonials">Testimonials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://app.acuityscheduling.com/schedule.php?owner=19114060" target="_blank">Schedule an Appointment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>

