<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <title>Align Scoliosis: About Us</title>
    </head>
    <body>
        <header>
            <%- include('partials/header.ejs') %>
        </header>

        <div class="container about">
            <div class="row">
                <div class="col">
                    <p>
                        <h1 id="about-align-scoliosis">Align Scoliosis</h1> <p>was founded in Hoboken, NJ with the goal of increasing access to conservative scoliosis care for people of all ages. It is proudly a Physical Therapist owned and operated company.</p>
                    </p>
                    <p>
                        We are an outpatient physical therapy clinic that treats a wide variety of physical ailments with a specialization in orthopedics and the treatment of scoliosis with the Schroth Method.
                    </p>
                    <p>
                        All treatment sessions are one on one. Unlike most other clinics, we DO NOT treat multiple patients at once. Your session will always start on time and you will have the undivided attention of your therapist throughout the length of your visit. This ensures the best possible level of care and rehabilitation potential. This is what sets our patients up for success!
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="featurette-heading">Dr. Kristin Romeo, <span class="certs">PT, DPT, OCS</span></h5>
                    <div>
                        <p>
                            <div class="text-center">

                            <img class="about-img float-md-left float-none" src="https://align-scoliosis.s3.us-east-2.amazonaws.com/images/kristin.jpg" alt="Generic placeholder image">
                            </div>
                            <p class="lead text-justify">
                                Kristin is the founder of Align Scoliosis Physical Therapy. She received her <strong>Doctorate of Physical Therapy</strong> from CUNY-The Graduate Center and was awarded with highest academic honors at graduation.  She received her Bachelors in Biology from Binghamton University where she also worked as a certified Emergency Medical Technician (EMT).
                            </p>
                            <p class="lead text-justify">
                                She has trained extensively to become a certified <strong> C1 and C2 Schroth Specialist </strong>through the Barcelona Scoliosis Physical Therapy School (BSPTS). She specializes in the conservative 3-dimensional treatment of Scoliosis for people of all ages.  She has a passion for fitness and wellness and works seamlessly to integrate healthy choices to help her patients reach their goals.
                            </p>

                            <p class="lead text-justify">
                                She has recently become a <strong>Board Certified Orthopedic Clinical Specialist (OCS)</strong> through the APTA’s Board of Specialists. This is considered the highest credential in the field of orthopedic rehabilitation and is currently held by less than 6% of practicing Physical Therapists in the United States.
                            </p>

                            <p class="lead text-justify">
                                Dr. Kristin is committed to ongoing pursuit of knowledge and advancing the field of Physical Therapy. <strong>When you love what you do, it shows</strong>.
                            </p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <img class="img-fluid mx-auto" src="https://align-scoliosis.s3.us-east-2.amazonaws.com/images/kristin-bike.jpg" alt="Generic placeholder image">
                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid mx-auto" src="https://align-scoliosis.s3.us-east-2.amazonaws.com/images/kristin_mountain.jpg" alt="Generic placeholder image">
                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid mx-auto" src="https://align-scoliosis.s3.us-east-2.amazonaws.com/images/kristin-ice.jpg" alt="Generic placeholder image">
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
    </body>
</html>
