<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <title>Align Scoliosis: Services</title>
    </head>
    <body>
        <header>
            <%- include('partials/header.ejs') %>
        </header>
        <div class="container accelerated">
        <h1 class="text-center" >Accelerated Schroth Program</h1>
        <hr>
        <div class="schroth-row">
            <p>
                Are you coming out of state for treatment or traveling a lot for work? If you’d rather learn the Schroth program in a consolidated, fast paced version Align Scoliosis offers intensive programs.
            </p>
            <h4 class="text-center text-md-left">3 Day Intensive Course Schedule Example:</h4>
            <div class="intensive-schedule">
                <p class="text-center text-md-left">Day 1: Initial evaluation and education 10am-12pm - Lunch (1 hr)  - 2nd session 1pm-3pm</p>
                <p class="text-center text-md-left">Day 2: 10:30am-12pm - Lunch (1 hour) 1pm-2:30pm</p>
                <p class="text-center text-md-left">Day 3: 10:30am-12pm - Lunch 12-1 - 1pm-2:30pm</p>
            </div>
            <br>
            <p>The above schedule can be modified to fit your needs. Give us a call or schedule a complimentary <a href="https://app.acuityscheduling.com/schedule.php?owner=19114060&appointmentType=14565646" target="_blank">15 minute consultation</a> to learn more.</p>
        </div>
        <%- include('partials/footer.ejs') %>
    </body>
</html>
