<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <title>Contact Success</title>
    </head>
    <body>
        <header>
            <%- include('partials/header.ejs') %>
        </header>

        <h1>Thank you! You will hear back from us soon.</h1>

        <%- include('partials/footer.ejs') %>
    </body>
</html>
