<%- include('partials/header.ejs') %>

<main role="main">
    <div class="container">
        <div class="logo logo-header">
            <h1 class="logo-line-1">A<span>|</span>ign Sco<span class="theme-color-text">|</span>iosis</h1>
            <h2 class ="logo-line-2">Schroth Based Physical Therapy</h2>
        </div>

        <div class="row">
            <div id="myCarousel" class="carousel slide container" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="https://align-scoliosis.s3.us-east-2.amazonaws.com/images/hoboken.jpg" alt="Third slide">
                        <div class="carousel-caption">
                            <h2>Based out of Hoboken, NJ</h2>
                            <p>Serving the greater NYC, Jersey City, and Hoboken communities</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://align-scoliosis.s3.us-east-2.amazonaws.com/images/bars_with_hands.jpg" alt="Second slide">
                        <div class="carousel-caption"></div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://align-scoliosis.s3.us-east-2.amazonaws.com/images/bars_3_5.jpg" alt="First slide">
                        <div class="carousel-caption">
                            <h2>The Schroth Method</h2>
                            <p>Scoliosis specific physical therapy</p>
                            <p><a class="btn btn-primary" href="/schroth" role="button">Learn more</a></p>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

    <!-- <div class="container marketing"> -->
        <div class="row marketing">
            <div class="col-lg-4">
                <span class="fa-stack fa-4x">
                    <i class="far fa-circle fa-stack-2x"></i>
                    <i class="fas fa-stack-1x">1:1</i>
                </span>
                <h2 class=blurb-title>Focused</h2>
                <p class="blrub">
                    All treatments are one on one with a Physical Therapist so all the focus is on you. We value your time, there’s no waiting. Ensuring the best possible level of care and attention.
                </p>
            </div>
            <div class="col-lg-4 ">
                <span class="fa-stack fa-4x">
                    <i class="far fa-circle fa-stack-2x"></i>
                    <i class="fas fa-check"></i>
                </span>
                <h2 class=blurb-title>Proven</h2>
                <p class="blrub">
                    The Schroth Method works and the research shows it. We place a high value on Evidence Based Medicine. Read the science behind the method.
                </p>
            </div>
            <div class="col-lg-4">
                <span class="fa-stack fa-4x">
                    <i class="far fa-circle fa-stack-2x"></i>
                    <i class="fas fa-hands"></i>
                </span>
                <h2 class=blurb-title>Care</h2>
                <p class="blrub">
                    Individual care plans tailored to your specific goals that work for your schedule. Evening and weekend appointments available.
                </p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row testimonial justify-content-center">
            <div class="col-lg-9">
                <p class="testimonial-quote">
                    "Kristin restored my confidence that I can walk again without pain and helped me be hopeful about the future. I do believe she is my 'Schroth Angel'. Kristin has my back.”
                </p>
                <p class="testimonial-author testimonial-author-sm"><i>Sheila O’Connor - New York, New York - February 20202</i></p>
                <p><a class="btn btn-primary" href="/testimonials" role="button">Read More Testimonals</a></p>
            </div>
        </div>
    <!-- </div> -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-9">
                <h5 class="featurette-heading">Dr Kristin Romeo, <span class="certs">PT, DPT, OCS</span></h5>
                <p class="lead">
                    Dr. Kristin is the founder of Align Scoliosis Physical Therapy. She received her Doctorate in Physical Therapy from The Graduate Center, CUNY. She is certified at the advanced C2 level in providing the Schroth Method for the treatment of scoliosis and kyphosis. She recently earned the distinction of Orthopedic Certified Specialist through the American Physical Therapy Association.
                </p>
            </div>
            <div class="col-md-3">
                <img class="featurette-image img-fluid mx-auto" src="https://align-scoliosis.s3.us-east-2.amazonaws.com/images/kristin.jpg" alt="Generic placeholder image">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col text-center">
                <p><a class="btn btn-primary" href="/about" role="button">Learn More About Us</a></p>
            </div>
        </div>
    </div>
</main>

<%- include('partials/footer.ejs') %>
