<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <title>Align Scoliosis: The Schroth Method</title>
    </head>
    <body>
        <header>
            <%- include('partials/header.ejs') %>
        </header>

        <div class="container ortho">
            <div class="col">
                <h1 class="text-center" >Orthopedic Physical Therapy</h1>
                <hr>
                <div class="schroth-row">
                    <p>
                        We offer comprehensive evaluations of all orthopedic injuries including pre and post-operative care. Our multifactorial treatment model includes an array of interventions designed to be the most beneficial for each individual.
                    </p>
                    <h4 class="theme-color-text">Commonly treated conditions:</h4>
                    <ul>
                        <li>Arthritis</li>
                        <li>Back pain</li>
                        <li>Rotator cuff injuries</li>
                        <li>Joint Replacements</li>
                        <li>Tendonitis</li>
                        <li>Muscle strains</li>
                        <li>Neck Pain</li>
                        <li>Sports Injuries</li>
                        <li>Ankle sprains</li>
                        <li>Meniscus Injuries</li>

                    </ul>
                </div>
                <div class="schroth-row">
                    <p>
                        Schedule your <a href="https://app.acuityscheduling.com/schedule.php?owner=19114060&appointmentType=14567859" target="_blank"> initial evaluation</a>,
                        or if you have any questions schedule a complimentary <a href="https://app.acuityscheduling.com/schedule.php?owner=19114060&appointmentType=14565646" target="_blank">15 minute consultation</a>.
                    </p>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
    </body>
</html>
