<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <title>Align Scoliosis: The Schroth Method</title>
    </head>
    <body>
        <header>
            <%- include('partials/header.ejs') %>
        </header>

        <div class="container peds">
            <div class="col">
                <h1 class="text-center" >Pediatric Physical Therapy</h1>
                <hr>
                <div class="schroth-row">
                    <p>We treat children 3 months and older for an array of orthopedic conditions such as:</p>
                    <ul>
                      <li>Torticollis</li>
                      <li>Scoliosis-The Schroth Method</li>
                      <li>Kyphosis</li>
                      <li>Orthopedic developmental delay (walking, rolling, crawling, etc)</li>
                      <li>Fractures</li>
                      <li>Muscle strains</li>
                      <li>Sprains</li>
                    </ul>
                    <p>We know how to make therapy fun and engaging for kids of all ages. Being a <strong>1:1 practice</strong> eliminates distractions and allows your child to <strong>focus</strong> on their therapy.</p>
                </div>
                <hr>
                <div class="schroth-row">
                    <p>
                        Schedule an <a href="https://app.acuityscheduling.com/schedule.php?owner=19114060&appointmentType=14567859" target="_blank"> initial evaluation</a>,
                        or if you are unsure if physical therapy is appropriate, schedule a complimentary <a href="https://app.acuityscheduling.com/schedule.php?owner=19114060&appointmentType=14565646" target="_blank">15 minute consultation</a> to discuss your child’s condition.
                    </p>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
    </body>
</html>
