<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <title>Align Scoliosis: The Schroth Method</title>
    </head>
    <body>
        <header>
            <%- include('partials/header.ejs') %>
        </header>

        <div class="container schroth">
            <div class="col">
                <h1 class="text-center" >The Schroth Method</h1>
                <hr>
                <div class="schroth-row">
                    <h2 class="text-center text-md-left">What is it?</h2>
                    <p>
                        The Schroth Method is a specialized method of Physical Therapy used to manage scoliosis and kyphosis through the use of scoliosis specific exercises and a sensory motor traning program. It is a non-surgical option used to stop curve progression, correct imbalances of the spine and decrease pain.
                    </p>
                    <p>
                        Due to its complex nature, the Schroth Method is based learned one on one.
                    </p>
                </div>

                <div class="schroth-row">
                    <h2 class="text-center text-md-left">How is Schroth different from conventional Physical Therapy?</h2>

                    <p>
                        The Schroth method exercises are designed to address the 3 dimensional nature of scoliosis and are curve specific for each individual. It is currently the recommended method of treatment for Scoliosis by the Society on Scoliosis Orthopedic Rehabilitation and Treatment (SOSORT) and becoming the gold standard of conservative physical therapy care for those with Scoliosis and Kyphosis.
                    </p>
                </div>

                <div class="schroth-row">
                    <h2 class="text-center text-md-left">Who can benefit?</h2>

                    <p>
                        People of all ages and curve severities can benefit from the Schroth Method. It is used when surgery is not recommended and for both pre and post surgical patients.
                    </p>
                    <p>
                        The primary goal of treatment for adolescents is to minimize curve progression. Untreated scoliosis can progress very quickly which is why the "watch and wait method" is not longer recommended and early detetection and treatment is critical.
                    </p>
                    <p>
                        For adults, scoliosis can be a new diagnosis or something the developed in childhood. Addressing pain, muscle restrictions and range of motion deficits can dramatically improve quality of life.
                    </p>
                </div>

                <div class="schroth-row">
                    <h2 class="text-center text-md-left">Does it work?</h2>

                    <p>We place a high value on evidence based medicine. See below for a list of publication regarding the Schroth Method:</p>
                    <ul>
                        <li>
                            <a href="https://scoliosisjournal.biomedcentral.com/articles/10.1186/s13013-015-0048-5"> The effect of Schroth exercises in adolescents with idiopathic scoliosis</a>
                        </li>
                        <li>
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/29164179">Randomized controlled trial on Schroth exercises and the number needed to treat</a>
                        </li>
                        <li>
                            <a href="https://journals.lww.com/pedpt/Abstract/2019/07000/Physical_Therapy_Scoliosis_Specific_Exercises_May.14.aspx">PSSE to reduce curve progression</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
    </body>
</html>
