<%- include('partials/header.ejs') %>

<div class="container">
    <h1 class="text-center" >The Schroth Method</h1>
    <hr>

    <div class="col">
        <div class="schroth-row">
            <h2 class="text-center text-md-left">What is it?</h2>
            <p class="lead text-justify">
                The Schroth Method is a specialized method of Physical Therapy used for individuals with scoliosis and kyphosis. It is a non-surgical option used to stop curve progression, correct imbalances of the spine and decrease pain.
            </p>
        </div>

        <div class="schroth-row">
            <h2 class="text-center text-md-left">Who can benefit?</h2>

            <p class="lead">
                People of all ages can benefit from the Schroth Method. The Schroth Method can be used for both pre/post surgical patients and particularly when surgery is not recommended.
            </p>
            <p class="lead">
                <strong><span>&#8226;</span> Adolescents:</strong> Individuals with curves between 10-55 degrees (patients with larger curves are treated in coordination with an Orthopedist). Patients with curves below 10 degrees are closely monitored and screened monthly at the clinic. Caregivers are educated on looking for signs of progression and postural exercises are provided for the home.  Patients with curves greater than 10 degrees are encouraged to participate in a full treatment program to minimize the risk of curve progression. 
            </p>
            <p class="lead">
                <strong><span>&#8226;</span> Adults:</strong> Scoliosis can manifest in many ways as an adult. Some were diagnosed with scoliosis in their adolescence while for others it may be a new diagnosis. There are many.. 
            </p>
        </div>

        <div class="schroth-row">
            <h2 class="text-center text-md-left">How is Schroth different from conventional Physical Therapy?</h2>

            <p class="lead">
                    The Schroth method exercises are designed to address the 3 dimensional nature of scoliosis and are curve specific for each individual. It is currently the recommended method of treatment for Scoliosis by the Society on Scoliosis Orthopedic Rehabilitation and Treatment (SOSORT) and becoming the gold standard of conservative physical therapy care for those with Scoliosis and Kyphosis.
            </p>
        </div>
    </div>
</div>



<%- include('partials/footer.ejs') %>
