<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <title>Align Scoliosis: Services</title>
    </head>
    <body>
        <header>
            <%- include('partials/header.ejs') %>
        </header>

        <div class="container services">
            <div class="col">
                <div class="schroth-row">
                    <h1 class="text-center text-md-left">Initial Evaluation</h1>
                    <h2 class="text-center text-md-left">What to expect?</h2>
                    <ul>
                        <li>
                            Review of patient history including symptoms, concerns and goals of treatment
                        </li>
                        <li>
                            Review of x-ray and associated x-ray measurements
                        </li>
                        <li>
                            Postural assessment
                        </li>
                        <li>
                            Assessment of overall strength, range of motion, asymmetries, muscular tension and functional movement patterns
                        </li>
                        <li>
                            Bracing recommendations if necessary
                        </li>
                        <li>
                            Plan of care recommendations based on the evaluation findings
                        </li>
                        <li>
                            Learn the initial exercises you can start doing at home
                        </li>
                    </ul>
                    <h2 class="text-center text-md-left">How to prepare?</h2>
                    <ul>
                        <li>
                            Bring (or send in advance) a full spine x-ray (back/front view and side view if you have it)
                        </li>
                        <li>
                            Referral from a Physician if you have one (NJ is a direct access state so you can see a Physical Therapist without a referral/prescription for up to 30 days)
                        </li>
                        <li>
                            Wear comfortable, tight fitting clothing and women shoulder wear a sport bra or bikini top for full visualization of the spine, rib cage and shoulder blades.
                        </li>
                    </ul>
                    <hr>
                </div>
                <div class="schroth-row">
                    <h1 class="text-center text-md-left">Follow Ups</h1>

                    <p>
                        All follow-up treatments are one-on-one with an Advanced Certified Schroth Therapist. All treatments are unique to each individual patient as no two patient’s curves are the same.
                    </p>

                    <p>
                        The amount of follow up treatment varies depending on many factors such as pain, age, risk of curve progression, body awareness and learning retention however a recommendation for treatment frequency and duration will be discussed at the end of your initial evaluation. The standard recommendation is for 6 to 10 follow-up sessions to be able to perform all exercises properly at home.
                    </p>
                    <hr>
                </div>

                <div class="schroth-row">
                    <h1 class="text-center text-md-left">Intensive Program</h1>

                    <p>
                        Are you coming out of state for treatment or traveling a lot for work? If you’d rather learn the Schroth program in a consolidated, fast paced version Align Scoliosis offers intensive programs.
                    </p>
                    <h2 class="text-center text-md-left">3 Day Intensive Course Schedule Example:</h2>
                    <div class="intensive-schedule">
                        <p class="lead text-center text-md-left">Day 1: Initial evaluation and education 10am-12pm - Lunch (1 hr)  - 2nd session 1pm-3pm</p>
                        <p class="lead text-center text-md-left">Day 2: 10:30am-12pm - Lunch (1 hour) 1pm-2:30pm</p>
                        <p class="lead text-center text-md-left">Day 3: 10:30am-12pm - Lunch 12-1 - 1pm-2:30pm</p>
                    </div>
                    <br>
                    <p>The above schedule can be modified to fit your needs.</p>
                </div>

                <hr>

                <div class="schroth-row">
                    <h1 class="text-center text-md-left">Insurance</h1>
                    <p>
                        At this time we do not accept insurance. This allows us to sustain the 1:1 treatment model to give you the care you deserve rather than spending time dealing with insurance companies.
                    </p>
                    <p>
                        Upon request patients will be provided with a receipt with all appropriate documentation needed to submit to their insurance companies for reimbursement. The amount you receive is completely dependent on your individual plan however if you have out-of-network benefits covering outpatient physical therapy you should be eligible for reimbursement.
                    </p>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
    </body>
</html>
