<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <title>Align Scoliosis: Services</title>
    </head>
    <body>
        <header>
            <%- include('partials/header.ejs') %>
        </header>

        <div class="container services">
            <div class="col">
                <h1 class="text-center" >Our Services</h1>
                <hr>

                <div class="schroth-row">
                    <p>Here at Align we treat people of all ages and an array of conditions. Follow the links bellow to learn more:</p>

                    <ul>
                        <li><a href="/schroth">The Schroth Method:</a> scoliosis specific physical therapy.</li>
                        <li><a href="/orthopedics">Orthopedics:</a> rehabilitation for all orthopedic injuries including pre and post-operative care.</li>
                        <li><a href="/pediatrics">Pediatrics:</a> we treat children 3 months and older for varying orthopedic conditions.</li>
                        <li><a href="/telehealth">Telehealth:</a> begin your rehabilitation from your own home or on the go!</li>
                        <li><a href="/accelerated">Accelerated Schroth Program:</a> a condensed 3-day Schroth treatment program.</li>
                    </ul>
                    <hr>
                    <div class="text-center">
                        <h5>Have questions about your specific condition? </h5>
                        <p>Give us a call or set up a complimentary <a href="https://app.acuityscheduling.com/schedule.php?owner=19114060&appointmentType=14565646" target="_blank" > 15 minute consultation.</a></p>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
    </body>
</html>
