<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <title>Align Scoliosis: Services</title>
    </head>
    <body>
        <header>
            <%- include('partials/header.ejs') %>
        </header>
        <div class="container standard">
        <h1 class="text-center" >Standard Schroth Program</h1>
        <hr>
        <div class="schroth-row">
           <p class="large">
            All treatments are <i>one-on-one</i> with an Advanced Certified Schroth Therapist - Scoliosis is a complex condition that can only effectively be managed with consistent and focused attention between patient and therapist.
          </p>

          <p class="large">
            Our program starts with an initial evaluation to develop a care plan that is <i>tailored to the curve of the patient.</i> From there, patients learn techniques in follow-up sessions with the goal of eventually being able to <i>self-manage their Scoliosis.</i>
          </p>

          <p class="large">

          </p>

            <div class="schroth-row">
              <h3 class="text-center text-md-left">Initial Evaluation (60 minutes)</h3>
              <ul>
                  <li>
                      Review of patient history including symptoms, concerns and goals of treatment
                  </li>
                  <li>
                      Review of x-ray and associated x-ray measurements
                  </li>
                  <li>
                      Postural assessment
                  </li>
                  <li>
                      Assessment of strength, range of motion, asymmetries, muscular tension and functional movement patterns
                  </li>
                  <li>
                      Bracing recommendations if necessary
                  </li>
                  <li>
                      Plan of care recommendations based on the evaluation findings
                  </li>
                  <li>
                      Learn the initial exercises you can start doing at home
                  </li>
              </ul>
          </div>
          <div class="schroth-row">
              <h3 class="text-center text-md-left">Follow Ups (45 minutes)</h3>
              <p>
                Build on the care plan to learn new exercises while reinforining work of previous sessions.
              </p>
              <p>
                  The amount of follow up treatment varies depending on many factors such as pain, age, risk of curve progression, body awareness and learning retention however a recommendation for treatment frequency and duration will be discussed at the end of your initial evaluation. The standard recommendation is for 6 to 10 follow-up sessions before patients are to be able to confidently perform exercises on their own. At therapist point it's up to the patient how and if they want to continue to schedule additional sessions.
              </p>
          </div>
        </div>
        <%- include('partials/footer.ejs') %>
    </body>
</html>
