<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <title>Align Scoliosis: The Schroth Method</title>
    </head>
    <body>
        <header>
            <%- include('partials/header.ejs') %>
        </header>

        <div class="container telehealth">
            <div class="col">
                <h1 class="text-center" >Telehealth Sessions</h1>
                <hr>
                <div class="schroth-row">
                  <h2>What do I need to have a Telehealth therapy session?</h5>
                  <ul>
                    <li>Computer/Laptop/Phone with a camera</li>
                    <li>Internet connection</li>
                    <li>Download Zoom</li>
                    <li>A space where you can comfortably lie down to exercise (yoga mat optional).</li>
                  </ul>
                </div>
                <hr>
                <div class="schroth-row">
                  <h2>What if I've never used Zoom before?</h5>
                  <ul>
                    <li>Prior to your first appointment download <a href="https://zoom.us/meetings" target="_blank">Zoom</a></li>
                    <li>Log in to Zoom 5-10 minutes prior to your session to make sure everything is working properly</li>
                    <li>We also offer a complimentary 15 minute <a href="https://app.acuityscheduling.com/schedule.php?owner=19114060&appointmentType=14565581" target="_blank">tech support session</a> to help you set up prior to your first appointment</li>
                  </ul>
                </div>
                <hr>
                <div class="schroth-row">
                  <h2>How do I book a Telehealth therapy session?</h5>
                  <ul>
                    <li>Online through our <a href="https://app.acuityscheduling.com/schedule.php?owner=19114060&appointmentType=14567652" target="_blank">scheduler</a></li>
                    <li>Send us a <a href="/contact_us">message</a></li>
                    <li>Give us a call at (201) 565-3970</li>
                  </ul>
                </div>
                <hr>
                <div class="schroth-row">
                  <h2>What should I expect during my 1st Telehealth session?</h5>
                  <ul>
                    <li>You will receive a Zoom invite in your email prior to your scheduled appointment</li>
                    <li>Discussion of your symptoms, medical history, and goals, followed by a thorough examination</li>
                    <li>Establish a plan of care for your treatment moving forward</li>
                  </ul>
                </div>
                <hr>
                <div class="schroth-row">
                  <h2>Can I benefit from Telehealth without hands-on work?</h5>
                  <ul>
                    <li>As PT’s we are trained to visually analyze movement and posture which gives us a lot of information we need to treat your injury</li>
                    <li>A lot of similar results can be accomplished through exercise and active assisted range of motion when compared to manual therapy</li>
                    <li>If we determine that manual therapy is a required treatment necessary to your recovery we will discuss your options for rehabilitation</li>
                  </ul>
                </div>
                <hr>
                <div class="schroth-row">
                    <p>
                        Schedule your <a href="https://app.acuityscheduling.com/schedule.php?owner=19114060&appointmentType=14567652" target="_blank"> initial evaluation</a>,
                        or if you are unsure if Telehealth is right for you or your child, schedule a complimentary <a href="https://app.acuityscheduling.com/schedule.php?owner=19114060&appointmentType=14565646" target="_blank">15 minute consultation</a>.
                    </p>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
    </body>
</html>
