<%- include('partials/header.ejs') %>
<div class="container testimonial">
    <h1>Testimonials</h1>
    <hr>
    <div class="row">
        <div class="col-md-6 test-1">
            <p>“I have been going to Kristin for over a year now. I am in my seventies and have had scoliosis all my life. In 2018 my back really started to bother me so I had an x-ray that showed a 64 degree curve. On the advice of my family doctor I tried conventional Physical Therapy for more than a year and nothing helped. In fact, my back was getting worse and I started getting spasms.</p>
            <p>So I went to an orthopedic surgeon who told me that except for PT there was nothing else he could do for the curve because he did not recommend surgery for a person my age. He gave me a list of Physical Therapists who use the Schroth Method. Since my back wasn’t getting better and my life was very limited because of it, I decided to go to Kristin Romeo, a Physical Therapist who uses the Schroth Method.</p>
            <p>On my first visit with Kristin I was really nervous and depressed about my back and my future. Kristin gave me hope and taught me breathing and strengthening exercises for my back. My back has been much, much better and I have not had any more spasms. I do the exercises she gives me everyday before I get out of bed in the morning and I am ready to go.</p>
            <p>Kristin restored my confidence that I can walk again without pain and helped me be hopeful about the future. I do believe she is my 'Schroth Angel'. Kristin has my back.”</p>
            <p class="testimonial-author testimonial-author-lg"><i>Sheila O’Connor - New York, New York - January 2020</i></p>
        </div>

        <div class="col-md-6">
            <p>“I first came to Kristin with lower-back nerve pain that had persisted for years. I had been treated on and off at various chiropractors and finally my GP suggested physical therapy.</p>
            <p>Kristin suggested the Schroth method and we got to work immediately. It is not easy - getting acclimated to the movements and positions is a learning curve (pun intended) and coming out of a session was like leaving the gym after an intense workout.</p>
            <p>However, through Kristin's encouragement and patience, I was able to complete 10 weeks and my life has completely changed. I no longer have regular back pain and have learned new ways to stand, sit, and move through the world that are better for my posture.</p>
            <p>Kristin gave me the tools that I can use in my home life to continue Schroth exercises and keep pain a thing of the past. I highly recommend her services!".</p>
            <p class="testimonial-author testimonial-author-lg"><i>Eric Bowron - Brooklyn, New York - February 2020</i></p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <p class="testimonial-pictures-blurb">Below are some cards given to me over the years by former patients</p>
            <p class="testimonial-pictures-blurb">I hold on to each and every one of them.</p>
            <p class="testimonial-pictures-blurb">The names have been blurred for privacy purposes.</p>
        </div>
        <div id="myCarousel" class="carousel carousel-testimonial slide container" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
                <li data-target="#myCarousel" data-slide-to="7"></li>
            </ol>
            <div class="carousel-inner testimonial-carousel" role="listbox">
                <div class="carousel-item active">
                    <img class="d-block img-fluid mx-auto" src="https://align-scoliosis.s3.us-east-2.amazonaws.com/images/test-1.jpg" alt="First slide">
                </div>
                <div class="carousel-item justify-content-center">
                    <img class="d-block img-fluid mx-auto" src="https://align-scoliosis.s3.us-east-2.amazonaws.com/images/test-2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item justify-content-center">
                    <img class="d-block img-fluid mx-auto" src="https://align-scoliosis.s3.us-east-2.amazonaws.com/images/test-3.jpg" alt="Third slide">
                </div>
                <div class="carousel-item justify-content-center">
                    <img class="d-block img-fluid mx-auto" src="https://align-scoliosis.s3.us-east-2.amazonaws.com/images/test-4.jpg" alt="Fourth slide">
                </div>
                <div class="carousel-item justify-content-center">
                    <img class="d-block img-fluid mx-auto" src="https://align-scoliosis.s3.us-east-2.amazonaws.com/images/test-5.jpg" alt="Fith slide">
                </div>
                <div class="carousel-item justify-content-center">
                    <img class="d-block img-fluid mx-auto" src="https://align-scoliosis.s3.us-east-2.amazonaws.com/images/test-6.jpg" alt="Sixth slide">
                </div>
                <div class="carousel-item justify-content-center">
                    <img class="d-block img-fluid mx-auto" src="https://align-scoliosis.s3.us-east-2.amazonaws.com/images/test-7.jpg" alt="Seventh slide">
                </div>
                <div class="carousel-item justify-content-center">
                    <img class="d-block img-fluid mx-auto" src="https://align-scoliosis.s3.us-east-2.amazonaws.com/images/test-8.jpg" alt="Eighth slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                <i class="fas fa-chevron-left fa-2x"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                <i class="fas fa-chevron-right fa-2x"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>


<%- include('partials/footer.ejs') %>
