body {
  padding-top: 4.4rem;
  padding-bottom: 3rem;
}

#map {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 400px;
}

#about-align-scoliosis {
  font-size: 2rem;
  display: inline;
}

#about-align-scoliosis + p {
  display: inline;
}

.navbar {
  padding: 0;
}

.certs {
  color: #8CCCBA ;
}

.about .certs {
  color: #6CB5A0;
}

.logo {
  text-align: center;
}

.logo span {
  color: #8CCCBA ;
}

.logo-footer {
  font-size: 0.75rem;
}

.logo-header {
  margin-bottom: 2rem;
}

header {
  margin-bottom: 2rem;
}

h1.logo-line-1 {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0;
  font-size: 3.25em;
  color: #292F36;
}

.logo-line-2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  color: #8CCCBA ;
}

.testimonial-carousel .carousel-item {
  background-color: white;
}
.testimonial-carousel .carousel-item img {
  max-height: 800px;
}

.carousel-control-next-icon {
  background-image: '';
}

.testimonial {
  text-align: center;
  font-size: larger;
}

.testimonial-author {
  margin-bottom: 15px;
}

.testimonial-author-sm {
  font-size: smaller;
}

.testimonial-author-lg {
  font-size: larger;
}

.testimonial-quote {
  margin-bottom: 0;
}

.container p, .container li {
  font-size: 1.1rem;
  font-weight: 300;
}

.footer p {
  font-size: 1.0rem;
  font-weight: 300;
}

.about p {
  font-size: 1.1rem;
  font-weight: 300;
  text-align: justify;
}

.services p {
  font-size: 1.1rem;
  font-weight: 300;
}

.services li {
  font-size: 1.1rem;
  font-weight: 300;
}

.testimonial p {
  font-size: 1.1rem;
  font-weight: 300;
}

.btn {
  background: #8CCCBA;
  border: none;
}

.btn:hover {
  background:#6CB5A0;
}

a {
  color: #6CB5A0;
}

a:hover {
  color:#6CB5A0;
}

.blrub {
  height: 5rem;
  color: #292F36;
}

.test-1 {
  border-right: 1px solid rgb(0,0,0,.1);
}

.carousel-caption p {
  color: white;
}
.carousel-caption h2 {
  color: white;
}

.footer p {
  margin: 0;
}

.contact-info {
  font-size: smaller;
}

strong {
  color: #6CB5A0 ;
}

.contact-link {
  font-size: larger;
  color: #8CCCBA ;
}

p {
  color: #292F36;
}

.theme-color-text {
  color: #6CB5A0 ;
}

.theme-color-light {
  color: #8CCCBA ;
}

i.far {
  color: #8CCCBA ;
}

i.fas {
  color: #8CCCBA ;
}

i {
  color: #6CB5A0 ;
}

.blurb-title {
  color: #8CCCBA ;
}


h2 {
  font-weight: 300;
  color: #69AF9C;
}

h3 {
  font-weight: 300;
  color: #69AF9C;
}

h4 {
  font-weight: 300;
  color: #69AF9C;
}

h5 {
  font-weight: 300;
  color: #69AF9C;
}

.home .schedule h1 {
  color: #8CCCBA;
  margin-bottom: 1rem;
}

.footer .col hr {
  margin-top: 0;
}

h1 {
  font-weight: 300;
  color: #6CB5A0;
  text-align: center;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.schroth-row {
  margin-bottom: 1.5rem;
}

.intensive-schedule p {
  margin-bottom: 0;
  text-indent: 1em;
}

.lead {
  text-align: justify;
}

.about-img {
  max-width: 275px;
  margin: 15px;
}

p.testimonial-pictures-blurb {
  margin-bottom: 0;
  text-align: center;
  font-size: 0.85em;
}

.carousel-testimonial {
  margin-top: 2rem;
}

.featurette-divider {
  margin-bottom: 2rem;
}

nav {
  box-shadow: 0 10px 10px rgba(0,0,0,.05);
}

.navbar {
  background-color: white;
  align-items: center;
}
.navbar .navbar-brand {
  color: #292f36;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #8CCCBA ;
}
.navbar .navbar-text {
  color: #8CCCBA ;
}
.navbar .navbar-text a {
  color: #8CCCBA ;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #8CCCBA ;
}
.navbar .navbar-nav .nav-link {
  color: #292F36;
  border-radius: .25rem;
  margin: 0 0.25em;
  font-weight: 300;
}

ul.navbar-nav {
  align-items: center;
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #8CCCBA ;
}

.nav-link i {
  color: #787b7f;
}

.nav-link:hover i {
  color: #8CCCBA;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #8CCCBA ;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #8CCCBA ;
  background-color: #060505;
}
.navbar .navbar-toggle {
  border-color: #060505;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #060505;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #292f36;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #292f36;
}
.navbar .navbar-link {
  color: #292f36;
}
.navbar .navbar-link:hover {
  color: #8CCCBA ;
}

.navbar-toggler-icon {
  color: #8CCCBA ;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(144, 204, 191)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.carousel-caption {
  left: 15%;
  right: 15%;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.carousel-caption h2 {
  font-size: 1.4rem;
}

.carousel-caption p {
  font-size: 0.9rem;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #292f36;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #8CCCBA ;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #8CCCBA ;
    background-color: #060505;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #292f36;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #8CCCBA ;
    background: none;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #8CCCBA ;
    background-color: #060505;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #292f36;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #8CCCBA ;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #8CCCBA ;
    background-color: #060505;
  }
  .ortho .col-lg-4 {
    padding-bottom: 3rem;
  }
  .featurette-image {
    width: 50%;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #292f36;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #8CCCBA ;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #8CCCBA ;
    background-color: #060505;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #292f36;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #8CCCBA ;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #8CCCBA ;
  background-color: #060505;
}

.carousel {
  margin-bottom: 2rem;
}
.carousel-caption {
  bottom: 2rem;
  z-index: 10;
  background: rgba(0, 0, 0, 0.3);
}

.home .carousel-item {
  background-color: #777;
  border-radius: 35px;
  overflow: hidden;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  color: #292F36;
}

@media (min-width: 992px) {
  .carousel-inner {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .carousel-caption h2 {
    font-size: 2.0rem;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .carousel-caption {
    left: 22%;
    right: 22%;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

ul.navbar-nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin-top: 0;
}

.dropdown-item:hover {
  background: none;
}

.banner {
  background-color: rgba(0, 0, 0, 0.125);
  padding-bottom: 0.1rem;
  box-shadow: 0 10px 10px rgba(0,0,0,.05);
  text-align: center;
  padding-top: 0.2rem;
  margin-bottom: 0.5rem;
  color: #2b2f33;
  font-size: 1rem;
  font-weight: 300;
}


.banner b {
  font-weight: 500;
  color: #292F36;
}

.services li {
  margin-bottom: 0.5rem;
}

.navbar button {
  border: none;
}

.navbar .navbar-nav .dropdown a.nav-link {
  display: inline-block;
}

.navbar .navbar-nav .dropdown button {
  display: inline-block;
  margin-left: 0;
  padding-left: 0;
  background-color: #f4f4f4;
}

.navbar .navbar-nav .dropdown i.fas {
  color: #787b7f;
}

.form-row {
  margin-bottom: 10px;
}

p.large  {
  font-size: 1.33rem;
}
